## Unit 2.1.3 Pandas - Selecting and Grouping

In [1]:
import pandas as pd
import numpy as np

# Reload example data from last assignment. 
names = ['George',
         'John',
         'Thomas',
         'James',
         'Andrew',
         'Martin',
         'William',
         'Zachary',
         'Millard',
         'Franklin']
purchases = pd.DataFrame(index=names)
purchases['country'] = ['US', 'CAN', 'CAN', 'US', 'CAN', 'US', 'US', 'US', 'CAN', 'US']
purchases['ad_views'] = [16, 42, 32, 13, 63, 19, 65, 23, 16, 77]
purchases['items_purchased'] = [2, 1, 0, 8, 0, 5, 7, 3, 0, 5]

purchases

         country  ad_views  items_purchased
George        US        16                2
John         CAN        42                1
Thomas       CAN        32                0
James         US        13                8
Andrew       CAN        63                0
Martin        US        19                5
William       US        65                7
Zachary       US        23                3
Millard      CAN        16                0
Franklin      US        77                5

In [2]:
#The most basic form of indexing, or "selection", is using the brackets.
purchases['country']

George       US
John        CAN
Thomas      CAN
James        US
Andrew      CAN
Martin       US
William      US
Zachary      US
Millard     CAN
Franklin     US
Name: country, dtype: object

### Basic Selects with .loc and iloc

In [8]:
#.loc is a selector that indexes over rows and columns.  It selects row index first, then column name, if included.
#In other words, it slices the dataframe row-wise
purchases.loc['Zachary']

country            US
ad_views           23
items_purchased     3
Name: Zachary, dtype: object

In [23]:
#In these cases, the column is included.
# The ':' works like it would when slicing a list or string, and selects all rows. 
purchases.loc[:,'country']

George       US
John        CAN
Thomas      CAN
James        US
Andrew      CAN
Martin       US
William      US
Zachary      US
Millard     CAN
Franklin     US
Name: country, dtype: object

In [25]:
#':' doesn't work if you put in an actual slice though.  This is what .iloc is for!
purchases.loc[2:5,'country']

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [22]:
#To select George's country.  Can read as "Select Country given George
purchases.loc['George','country']

'US'

In [26]:
#.iloc does same thing, but over indices. 
#The below code selects rows[1:3] and column[1]. In other words, the second and third row with the second column. 
#Remember, indices start counting from 0!
purchases.iloc[1:3, 1]

John      42
Thomas    32
Name: ad_views, dtype: int64

### Conditional Selection

You can also use .loc to select all entries that meet a given criteria. 

This requires the lambda function

In [30]:
#Let's say we want all the columns for inidividuals who made more than one purchase.

purchases.loc[lambda df: purchases['items_purchased'] > 1, :]

#We are selecting rows, so the lambda is the first item in the brackets. 
#We define the input df as it takes a data frame. 
#Then we define the condition for which each row will be evaluated on. 
#The , : is the same slicing syntax and means we want all columns using the same logic as above

         country  ad_views  items_purchased
George        US        16                2
James         US        13                8
Martin        US        19                5
William       US        65                7
Zachary       US        23                3
Franklin      US        77                5

In [31]:
#You can also use boolean indexes with same result
purchases[purchases['items_purchased'] > 1]

         country  ad_views  items_purchased
George        US        16                2
James         US        13                8
Martin        US        19                5
William       US        65                7
Zachary       US        23                3
Franklin      US        77                5

### Groups
You can create groups in your data frame using .groupby() metnod and passing in the column name.

In [34]:
#Group by Country of the site user
#If we want it to return something, we have to do something on those groups, ie with aggregator functions
purchases.groupby('country')

In [37]:
#Calculate the mean ad_views and items_purchased by country
purchases.groupby('country').mean()

         ad_views  items_purchased
country
CAN         38.25             0.25
US          35.50             5.00

In [38]:
#Calculate the mean of just items_purchased by country
purchases.groupby('country')['items_purchased'].mean()

country
CAN    0.25
US     5.00
Name: items_purchased, dtype: float64